<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contate-nos</title>
</head>

<body>
  <h1>Olá investidor</h1>
  <h3>Somos um grupo de amigos desenvolvedores
    criamos essa aplicação para que voce possa organizar, pesquisar e
    cotar suas comprar de ativos em dolar
  </h3>
  <br>
  <span>
    <h3> Devs Guilherme: estudante de ciencias da computação, dev mobile trabalhando com
      tecnologias como Java, JavaScript, angular e nodeJs
    </h3>
  </span>


  <button (click)="cancel()" mat-raised-button color="primary">
    voltar a home
  </button>

</body>

</html>
