<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contate-nos</title>
</head>
<nav class="nav">
  <span class="nav_logo">
    <img class="logoImg" src="assets\logo.png">
</span>
  <ul class="nav_list">
    <li class="nav_item">
      <a href="home" class="nav_link">Pagina Inicial</a>
      <a href="creators" class="nav_link">Desenvolvedores</a>
      <a href="news" class="nav_link">Noticias</a>
      <a href="" class="nav_link">Func</a>
      <a href="" class="nav_link">Func</a>
    </li>
  </ul>
</nav>

<body>
  <h1>Olá investidor</h1>
  <h3>Somos um grupo de amigos desenvolvedores
    criamos essa aplicação para que voce possa organizar, pesquisar e
    cotar suas comprar de ativos em dolar
  </h3>
  <br>
  <span>
    <h3> Dev Guilherme: estudante de ciencias da computação, dev mobile trabalhando com
      tecnologias como Java, JavaScript, angular e nodeJs
    </h3>
    <h3> Dev X : estudante de ciencias da computação, dev frontEnd trabalhando com
      tecnologias JavaScript, angular e nodeJs
    </h3>
  </span>


</body>

</html>
