<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contate-nos</title>
</head>
<body>
    <p>creators works!</p>

    <h1>esse e o lugar para ficar nossas infos</h1>
    <span>
    <h3> Devs Guilherme: estudante de ciencias da computação, dev mobile trabalhando com 
        tecnologias como Java, JavaScript, angular e nodeJs
    </h3>
    </span>


    <button (click)="cancel()" mat-raised-button color="primary">
        voltar a home
    </button>

</body>
</html>
