body{
    text-align: center;
}
button{
    color: white;
    background-color: rgb(103, 60, 143);
}
.conteudo_pag{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.logoImg{
    width: 100px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    color: rgb(103, 60, 143);
}
.nav_list{
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.nav_link{
    display: inline;
    text-decoration: none;
    border-radius: 9px;
    background-color: rgb(103, 60, 143);
    color: white;
    position: relative;
    margin: 0 4px 0 4px;
}
.nav_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nav_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.card{
    position: relative;
    width: 250px;
    height: 250px;
    background-image: url("../../../assets/dolar_image.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
}
.card::before,
.card::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: rgb(103, 60, 143);
    transition: transform .5s .25s ease-in;
    z-index: -1;
}
.card::before{
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
    
}
.card::after{
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
    
}
.card_content{
    opacity: 0;
    transition: opacity .25s;
}
.card:hover::before,
.card:hover::after{
    transform: translateY(0);
}
.card:hover .card_content{
    opacity: 1;
    transition-delay: .75s;
}