<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<script src='https://www.google.com/recaptcha/api.js?render=YOUR_PUBLIC_KEY'></script>

<body>



  <form>
    <input type="text" name="username" placeholder="Usuário">
    <input type="password" name="password" placeholder="Senha">
    <div ngx-captcha siteKey="YOUR_PUBLIC_KEY"></div>
    <button type="submit">Entrar</button>
  </form>




  <div class="nav">
    <span (click)="home()" class="nav_logo">
      <img (click)="home()" class="logoImg" src="assets\logo.png">
    </span>
    <div class="nav_item">

      <button (click)="home()" mat-raised-button color="primary" class="nav_link">
        Pagina inicial
      </button>

      <button (click)="creatorsOption()" mat-raised-button color="primary" class="nav_link">
        Desenvolvedores
      </button>

      <button (click)="newsOption()" mat-raised-button color="primary" class="nav_link">
        Noticias
      </button>

      <button mat-raised-button color="primary" class="nav_link">
        A desenvolver
      </button>

      <button mat-raised-button color="primary" class="nav_link">
        A desenvolver
      </button>
    </div>

  </div>

  <div>

    <h1>Dolar Hoje: R$: </h1>

    <div class="conteudo_pag">

      <article class="card">
        <div class="card_content">
          <h3 class="card_title">Dolar</h3>
          <p class="card_description">Uma breve descrição aqui</p>
        </div>
      </article>
      
    </div>

  </div>
</body>

</html>
