<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <nav class="nav">
        <span class="nav_logo">
            <img class="logoImg" src="assets\logo.png">
        </span>
        <ul class="nav_list">
            <li class="nav_item">
                <a href="home" class="nav_link">Pagina Inicial</a>
                <a href="creators" class="nav_link">Desenvolvedores</a>
                <a href="news" class="nav_link">Noticias</a>
                <a href="" class="nav_link">Func</a>
                <a href="" class="nav_link">Func</a>
            </li>
        </ul>
    </nav>


    <p>home works!</p>



    <!--
        <button (click)="creatorsOption()" mat-raised-button color="primary">
            Creators
        </button>
        
        <button (click)="newsOption()" mat-raised-button color="primary">
            News
        </button>
    -->


</body>
</html>